h1 {
  text-align: center;
}

table {
  border: 1px solid;
  width: 60%;
  height: 20px;
  margin: auto;
  text-align: center;
}

thead {
  text-align: center;
  background-color: grey;
}
tbody {
  background-color: coral;
  text-align: left;
}
