h1 {
  text-align: center;
}

table {
  border: 1px solid;
  width: 60%;
  height: 20px;
  margin: auto;
  text-align: center;
}

thead {
  text-align: center;
  background-color: greenyellow;
  font-weight: bold;
}
tbody {
  background-color: #efefef;
  text-align: left;
}

form {
  text-align: center;
}
